<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/stylesheets/bootstrap.css">
	<link rel="stylesheet" href="/stylesheets/header.css">
	<title>Blog</title>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
	    	<div class="navbar-header">
	    		<a href="#" class="navbar-brand"><img src="">Logo</a>
	        </div>
	        <form class="navbar-form navbar-left">
	        	<div class="input-group">
	            	<input type="text" class="form-control" style="width:320px" placeholder="搜索问题、话题或人">
	                <span class="input-group-addon"><a href="#"><span class="glyphicon glyphicon-search"></span></a></span>
	            </div>
	        </form>
	        <ul class="nav navbar-nav navbar-left">
	        	<li><a href="/">首页</a></li>
	            <li><a href="#">话题</a></li>
	            <li><a href="#">发现</a></li>
	        </ul>
	        <ul class="nav navbar-nav navbar-right">
	        	<li><a href="/reg"><span class="glyphicon glyphicon-user"></span> 注册博客</a></li>
	            <li><a href="/login">登录</a></li>
	        </ul>
	        <button class="btn btn-primary navbar-btn navbar-right">联系我</button>
	    </div>
	</nav>
	<article>
		
