*{
	margin: 0;
	padding: 0;
}
a{
	color: #000;
	text-decoration: none;
}
/*textarea#article_area {
	width: 70%;
}
input[name:'a_title']{
	width: 70%;
}*/
#nav_right{
	margin-right: 40px;
}
article.post{
	margin: 0 auto;
	width:70%;
}
article.post h2{
	font-weight: bold;
}
article.post a{
	text-decoration: none;
	color: #000;
}
article.post h2 a:hover{
	text-decoration: underline;

}
p.post_article{

}
span.paging{
	float:right;
	padding-right: 30%;
}

select#tag_select{
	width: 60px;
}